@model EmployeesModel
@{
    ViewData["Title"] = "Удаление сотрудника";
}

<link rel="stylesheet" href="~/css/Add.css" />

<body>
    <form asp-action="Add">
        <h1>Удаление сотрудника</h1>

           <div class="addEmployee">
                <div class="addForm">
                    <div class="addText">Имя</div>
                    <div class="addInput">
                        <input type="text" name="firstName" placeholder="Введите имя" value="@Html.DisplayFor(model => model.FirstName)" readonly />
                    </div>
                </div>
                <div class="addForm">
                    <div class="addText">Фамилия</div>
                    <div class="addInput">
                        <input type="text" name="secondName" placeholder="Введите фамилию" value="@Html.DisplayFor(model => model.SecondName)" readonly />
                    </div>
                </div>
                <div class="addForm">
                    <div class="addText">Возраст</div>
                    <div class="addInput">
                        <input type="text" name="age" placeholder="Введите возраст" value="@Html.DisplayFor(model => model.Age)" onkeyup="this.value = this.value.replace(/[^\d]/g,'');" readonly />
                    </div>
                </div>
                <div class="addForm">
                    <div class="addText">Отдел</div>
                    <div class="addInput">
                        <input list="departamentList" @*name="departament"*@ value="@Html.DisplayFor(model => model.Departament)" readonly/>                        
                    </div>
                </div>
                <div class="addForm">
                    <div class="addText">Язык программирования</div>
                    <div class="addInput">
                        <input list="departamentList" @*name="programmingLanguageId"*@ value="@Html.DisplayFor(model => model.ProgrammingLanguageId)" readonly />
                    </div>
                </div>
            </div>
        }

        <div class="readyButtons">
            <div class="addButton">
                <input type="submit" value="Удалить" asp-action="Delete"/>
            </div>
            <div class="closeButton">
                <input type="button" value="Отмена" />
            </div>
        </div>
    </form>
</body>