@model List<EmployeesModel>
@{
    ViewData["Title"] = "Изменение данных о сотруднике";
}

<link rel="stylesheet" href="~/css/Add.css" />

<body>

    <form asp-action="Edit" method="post">
        <h1>Добавление сотрудника</h1>

        <div class="addEmployee">
            <div class="addForm" style="display: none;">
                <div class="addText">Имя</div>
                <div class="addInput">
                    <input type="text" name="employeeId" placeholder="Введите имя" value="@Model[0].EmployeeId" required />
                </div>
            </div>
            <div class="addForm">
                <div class="addText">Имя</div>
                <div class="addInput">
                    <input type="text" name="firstName" placeholder="Введите имя" value="@Model[0].FirstName" required />
                </div>
            </div>
            <div class="addForm">
                <div class="addText">Фамилия</div>
                <div class="addInput">
                    <input type="text" name="secondName" placeholder="Введите фамилию" value="@Model[0].SecondName" required />
                </div>
            </div>
            <div class="addForm">
                <div class="addText">Возраст</div>
                <div class="addInput">
                    <input type="text" name="age" placeholder="Введите возраст" onkeyup="this.value = this.value.replace(/[^\d]/g,'');" value="@Model[0].Age" required />
                </div>
            </div>

            <div class="addForm">
                <div class="addText">Отдел</div>
                <div class="addInput">
                    <select id="departamentList" name="departament" class="selectList">
                        @for (var i = 1; i < Model.Count; i++)
                        {
                            if (Model[i].Departament != null)
                            {
                                <option value="@Model[i].EmployeeId">@Model[i].Departament</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="addForm">
                <div class="addText">Язык программирования</div>
                <div class="addInput">
                    <select id="programmingLanguagesList" name="programmingLanguageId" class="selectList">
                        @for (var i = 1; i < Model.Count; i++)
                        {
                            if (Model[i].ProgrammingLanguageId != null)
                            {
                                <option value="@Model[i].EmployeeId">@Model[i].ProgrammingLanguageId</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="readyButtons">
            <div class="addButton">
                <input type="submit" value="Изменить" />
            </div>
            <div class="closeButton">
                <a href="/Home/Index">Отмена</a>
            </div>
        </div>
    </form>
</body>